.time {
    text-align: center;
    font-family:'Times New Roman', Times, serif; 
    color: #2d4d76; 
    display: block; 
}

.container-block {
    margin-top: 20;
}

h1.st1 {
    display:inline-block; 
    width: 450px;
    font-size: 250px;
}
h1.st2{
    display:inline-block; 
    font-size: 250px;
}
.dropdown {
    font-family:'Times New Roman', Times, serif; 
    color: blue; 
    text-align: center; 
    width: 30%; 
    display: block;
    margin: auto;
}
.dark-mode{
    background-color: black;
    color: white;  
}
@media only screen and (max-width: 992px) {
    h1.st1 {
        width:150px; 
        font-size: 130px; 
    }
    h1.st2 {
        font-size: 150px; 
    }
    .dropdown {
        width: 60%; 
    }
}

@media only screen and (max-width: 770px) {
    h1.st1 {
        width:100px;
        font-size: 80px;
    }
    h1.st2 {
        font-size: 90px;
    }
    #fullDate {
        font-size: 30px;
    }
    .dropdown {
        width: 80%;
    }
}


@media only screen and (max-width: 415px) {
    h1.st1 {
        width:80px;
        font-size: 70px;
    }
    h1.st2 {
        font-size: 70px;
    }
    #fullDate {
        font-size: 25px;
    }
    .dropdown {
        width:80%;
    }
    .container-block {
        margin-top: 40%;
        padding: 0px;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgba(0, 0, 0, .3);
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: lighter;
  }





/*body {
    background-color: lightblue;
}

h1 {
    color: black;
}

div {
    height: 70px; 
    width: 80px; 
    margin: auto; 
    position: center; 
    top: 0; left: 0; bottom: 0; right: 0; 
    padding-top: 70px; 
    font-family: 'Courier New', Courier, monospace; 
    text-align: left; 
    color: black; 
    font-size: 100px; 
}

div .select {
    display: block;
    margin: 0 auto; 
    position: absolute; 
    padding-top: 300 px; 
}
*/